body {
    overflow:auto;
    background-color: #EDEDED;
    background-image: url(/bing);
    background-repeat: no-repeat;
    background-size:cover; /* 如果屏幕没有铺满，请把auto改为你自己显示器分辨率 */
    font-family:'Microsoft YaHei';
    font-size: 100%;
}
img {max-width: 100%;}

/* ===========搜索模块========= */
/***搜索引擎类别按钮***/
.nav-icons {
	width: 470px;
	margin: auto;
	height: 90px;
}

@media{
	.nav-icons {
		margin-top: 8em;
	}
}

.nav-icons ul {
	margin: 0;
	padding: 0;
	position: relative;
	top: 41px;
	left: 0;
	list-style-type: none;
}

.nav-icons ul li {
	display: block;
	width: 50px;
	height: 39px;
	padding: 0 8px;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	box-sizing: content-box;
	cursor: pointer;
}

.nav-icons ul li a {
	width: 49px;
	height: 34px;
	display: block;
	position: absolute;
	top: -42px;
	left: 7px;
	visibility: hidden;
	opacity: 0;
	color: #fff;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
	transform: translateY(-50%);
	transition: transform 0.3s ease,opacity 0.3s ease,visibility 0s 0.3s ease;
}

.nav-icons ul li:hover a {
	transform: translateY(0);
	transition: transform 0.3s ease,opacity 0.3s ease;
}

.nav-icons ul li a:hover {
	text-decoration: none;
}

.nav-icons ul .current a {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.nav-icons ul:hover .current a {
	opacity: 0.2;
}

.nav-icons ul:hover .current:hover a {
	opacity: 1;
}

.nav-icons ul li:hover a {
	visibility: visible;
	opacity: 1;
}
/*按钮图片*/
.nav-icons ul .web,
.nav-icons ul .web.current,
.nav-icons ul .music,
.nav-icons ul .music.current,
.nav-icons ul .image,
.nav-icons ul .image.current,
.nav-icons ul .news,
.nav-icons ul .news.current,
.nav-icons ul .video,
.nav-icons ul .video.current,
.nav-icons ul .map,
.nav-icons ul .map.current,
.nav-icons ul .bbs,
.nav-icons ul .bbs.current {
	background-image: url('../img/icon_nav.png');
}

.nav-icons ul .web {
	background-position: 9px -5px;
}

.nav-icons ul .web.current {
	background-position: 9px -57px;
}

.nav-icons ul .music {
	background-position: -50px -6px;
}

.nav-icons ul .music.current {
	background-position: -50px -58px;
}

.nav-icons ul .image {
	background-position: -109px -5px;
}

.nav-icons ul .image.current {
	background-position: -109px -57px;
}

.nav-icons ul .news {
	background-position: -169px -5px;
}

.nav-icons ul .news.current {
	background-position: -169px -57px;
}

.nav-icons ul .video {
	background-position: -228px -5px;
}

.nav-icons ul .video.current {
	background-position: -228px -57px;
}

.nav-icons ul .map {
	background-position: -287px -4px;
}

.nav-icons ul .map.current {
	background-position: -287px -56px;
}

.nav-icons ul .bbs {
	background-position: -345px -4px;
}

.nav-icons ul .bbs.current {
	background-position: -345px -56px;
}
/****搜索框***/
.input-group {
	width:545px;
  margin:0 auto;
}
/*搜索引擎选择下拉栏*/
.input-group-btn ul.dropdown-menu {
	top: 0;
	margin: 0;
	padding: 0;
	min-width: 40px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.9);
}

.input-group-btn ul.dropdown-menu > li > a:hover,
.input-group-btn ul.dropdown-menu > li > a:focus {
	background: #7abbe2;
	color: #e9f1fa;
}

.input-group-btn ul.dropdown-menu > li > a {
	padding: 11px 20px;
	font-size: 14px;
}

button.search-btn span,
button.search-btn:hover span,
.links-container .header a#edit-btn,
.links-container .header a#finish-btn,
.links-container .links > div > span,
.links-container .edit > div.add-new span {
	background-image: url('../img/icon_func.png');
	background-repeat: no-repeat;
}

button.search,
button.search:hover,
button.search:active,
input[type='text'].search,
button.search-btn,
button.search-btn:hover,
button.search-btn:active {
	height: 44px;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.11), 0 1px 0 rgba(255,255,255,0.57);
	background: rgba(236,224,200,0.5);
}
/*搜索引擎选择按钮*/
button.search {
	border: 1px solid #a8a497;
	border-right: none;
}

.open button.search {
	opacity: 0;
}

.btn .caret {
	margin-left: 8px;
}
/*输入框*/
.form-control:focus {
	border-color: #cccccc;
	outline: 0;
	box-shadow: none;
}

input[type='text'].search {
	border-top: 1px solid #a8a497;
	border-bottom: 1px solid #a8a497;
	border-left: none;
	border-right: none;
}
/*搜索按钮*/
button.search-btn {
	padding: 0;
	margin-left: 0 !important;
	border: 1px solid #a8a497;
	border-left: none;
}

button.search-btn:focus {
	outline: none;
}

button.search-btn span {
	display: block;
	padding: 11px 19px;
	background-position: center -117px;
}

button.search-btn:hover span {
	background-position: center -151px;
}

/*百度广告*/
.bdsug_copy {display:none}

/*设置导航整体面板*/
 #navs {
    position:relative;
    top: 15em;
    /*导航整体面板到搜索框的距离*/
    width:632px;
    /*导航整体面板宽度*/
    margin:auto;
    padding: 0.6em;
    background-color: #000;
    opacity:0.65;
    border:0.1em solid #000;
}
/*设置导航标题字体*/
 #navtitle {
    font-size:1.8em;
    font-weight: bold;
    color:white;
    border-bottom: 0.1em solid #555;
}
/*设置切换按钮*/
 #nav_random {
    float:right;
    position:relative;
    padding:0em;
    font-size:0.85em;
    opacity:0.3;
}
 #nav_random:hover {
    opacity:1;
}
/*设置导航地址间距*/
 #navtable {
    font-size:1.5em;
    padding-top:0.6em;
    margin-left: 1em;
}
/*设置导航单元大小*/
 #navtable td {
    list-style: none;
    float:left;
    height:1.6em;
    width:7em;
    text-align:left;
}
/*设置导航分类*/
 #navtable th {
    width: 5em;
    text-align:left;
    vertical-align:top;
    color: gray;
}
/*设置导航链接字体*/
 #navs a {
    color: #FFF;
    text-decoration:none;
}
/*设置导航链接图标*/
 #navs img {
    margin-right:0.25em;
    margin-bottom: -0.1em;
}
/*设置导航链接hover时*/
 #navtable a:hover,#Y_nav a:hover {
    text-decoration: none;
    transition:color 0.423s ease, text-shadow 0.423s ease;
    color:rgba(255, 200, 0, 0.9);
    text-shadow:0 1px rgba(242, 33, 49, 1), 0 1px 1px rgba(242, 33, 49, 1), 0 -1px 1px rgba(242, 33, 49, 1), 1px 0 1px rgba(242, 33, 49, 1), -1px 0 1px rgba(242, 33, 49, 1), 0 0 3px rgba(242, 33, 49, 1);
}
 #coding {
    position:absolute;
    right:5px;
    bottom:5px;
}